<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="kr.co.hotel.mapper.CartwishMapper">
 
  <delete id="wish_del">
   delete from cartwish where id=#{param1}
  </delete>
  

  <update id="move_cart">
   update cartwish set state=1 where userid=#{param1} and goodscode=#{param2}
  </update>
  
  <select id="cart" resultType="kr.co.hotel.vo.GoodsVO">
  select g.*,c.id as cid,c.qty as cqty from goods as g,cartwish as c 
  where g.goodscode=c.goodscode and userid=#{param1} and state=1 
  </select>
 </mapper>