<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="kr.co.hotel.mapper.OrderlistMapper">
 	
 	<select id="list" resultType="kr.co.hotel.vo.OrderlistVO">
		select * from orderlist where id=#{param1}
	</select>
	
	<select id="content" resultType="kr.co.hotel.vo.OrderlistVO">
		select * from orderlist where ordercode=#{ordercode}
	</select>
	
	<select id="getOrdercode" resultType="Integer">
    select ifnull(max(right(ordercode,4)),0) from orderlist where userid=#{param1}
    </select>	
    <insert id="goods_order_ok">
    insert into orderlist(userid,goodscode,qty,writeday,ordercode,pay_method,delivery_id,totalprice)
    values(#{userid},#{goodscode},#{qty},now(),#{ordercode},#{pay_method},#{delivery_id},#{totalprice})
    </insert>
   <delete id="cartwish_del">
    delete from cartwish where goodscode=#{param1} and userid=#{param2}
   </delete>
 </mapper>